# --- ARCHIVOS TEMPORALES Y CACHÉ (Gradle/IDE) ---
.gradle/
**/build/
build/
*.bin
*.lock
*.probe
*.log
*.html

# --- INTELLIJ IDEA ---
.idea/
**/.idea/
*.iml
*.iws
*.ipr

# --- CONFIGURACIÓN LOCAL Y ANDROID ---
# Ignora local.properties para no subir la ruta de tu SDK personal
local.properties
**/local.properties
.cxx/
captures/
.externalNativeBuild
.navigation/

# --- SISTEMA OPERATIVO ---
.DS_Store

# --- EXCEPCIONES: ARCHIVOS QUE SÍ SE SUBEN ---
# Esto garantiza que tu código y la estructura del proyecto se mantengan
!*.java
!*.xml
!*.gradle
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
Desarrollo/.gradle/8.13/checksums/checksums.lock
Desarrollo/.gradle/8.13/checksums/md5-checksums.bin
.idea/misc.xml
Desarrollo/.gradle/8.13/checksums/checksums.lock
Desarrollo/.gradle/8.13/checksums/md5-checksums.bin
Desarrollo/.gradle/8.13/checksums/sha1-checksums.bin
Desarrollo/.gradle/8.13/executionHistory/executionHistory.bin
Desarrollo/.gradle/8.13/executionHistory/executionHistory.lock
Desarrollo/.gradle/8.13/fileHashes/fileHashes.bin
Desarrollo/.gradle/8.13/fileHashes/fileHashes.lock
Desarrollo/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Desarrollo/.gradle/buildOutputCleanup/outputFiles.bin
Desarrollo/.gradle/file-system.probe
Desarrollo/.idea/gradle.xml
Desarrollo/.idea/misc.xml
Desarrollo/build/reports/problems/problems-report.html
Desarrollo/local.properties
