# Gradle files
.gradle/
**/build/
**/.gradle/
build/

# IntelliJ IDEA
.idea/
**/.idea/
*.iml
*.iws
*.ipr

# Android Studio / Android
local.properties
**/local.properties
.cxx/
captures/
.externalNativeBuild
.navigation/

# Mac OS
.DS_Store

# Log files
*.log
*.xml